<template>
  <tr>
    <td class="pl-4">
      {{ id }}
    </td>
    <td>
      <input v-model="user.name" type="text" class="form-control">
    </td>
    <td>
      <input v-model="user.email" type="email" class="form-control">
    </td>
    <td class="d-flex pl-5">
      <btn v-if="refreshing">
        <i class="fa fa-spin fa-spinner" />
      </btn>
      <template v-else>
        <btn v-if="id === null" @click.native="onStoreUserBtnClick">
          <i class="fa fa-save" />
        </btn>
        <btn v-else @click.native="onUpdateUserBtnClick">
          <i class="fa fa-edit" />
        </btn>
        <btn @click.native="onDeleteUserBtnClick">
          <i class="fa fa-trash" />
        </btn>
      </template>
    </td>
  </tr>
</template>

<script lang="ts">
import Vue from 'vue'
import _ from 'lodash'
import { User } from '~/types'
import Btn from '~/components/users/Btn.vue'

export default Vue.extend({
  name: 'UserRow',
  components: { Btn },
  props: {
    userProp: {
      type: Object as () => User,
      required: true
    },
    refreshing: {
      type: Boolean,
      required: true
    }
  },
  data () {
    const user = {} as User
    return {
      user
    }
  },
  computed: {
    id () : number | null {
      return this.user.id
    }
  },
  watch: {
    userProp: {
      deep: true,
      immediate: true,
      handler (newValue: User): void {
        this.setUser(newValue)
      }
    }
  },
  methods: {
    setUser (userData: User): void {
      this.user = _.cloneDeep(userData)
    },
    onUpdateUserBtnClick (): void {
      this.$emit('update', this.user)
    },
    onDeleteUserBtnClick (): void {
      this.$emit('delete')
    },
    onStoreUserBtnClick () : void {
      this.$emit('store', this.user)
    }
  }
})
</script>
