<template>
  <form action="">
    <h6 class="msg-info">
      Please login to your account
    </h6>
    <div class="form-group">
      <label class="form-control-label text-muted">Username</label>
      <input
        id="email"
        v-model="form.email"
        type="email"
        name="email"
        placeholder="Email"
        class="form-control"
      >
    </div>
    <div class="form-group">
      <label class="form-control-label text-muted">Password</label>
      <input
        id="psw"
        v-model="form.password"
        type="password"
        name="psw"
        placeholder="Password"
        class="form-control"
      >
    </div>
    <div class="row justify-content-center my-3 px-3">
      <button class="btn-block btn-color" @click.prevent="onSubmit">
        Login
      </button>
    </div>
  </form>
</template>

<script lang="ts">
import { required } from 'vuelidate/lib/validators'
import { validationMixin } from 'vuelidate'
import { mapMutations } from 'vuex'
import Vue from 'vue'
export default Vue.extend({
  name: 'LoginForm',
  mixins: [validationMixin],
  validations: {
    form: {
      email: {
        required
      },
      password: {
        required
      }
    }
  },
  data () {
    const email : string = ''
    const password : string = ''
    return {
      form: {
        email,
        password
      }
    }
  },
  methods: {
    ...mapMutations('auth', {
      authChange: 'SET'
    }),
    async onSubmit () {
      this.$v.$touch()

      if (this.$v.$invalid) {
        this.$toast.error('Please, fix your errors before submit the form')
      } else {
        try {
          await this.$auth.setUser(this.form)
          this.authChange({
            key: 'loggedIn',
            value: true
          })
        } catch (err) {
          console.log(err)
        }
      }
    }
  }
})
</script>

<style scoped>

</style>
