<template>
  <form action="" novalidate>
    <div class="form-group">
      <label class="form-control-label text-muted">Name</label>
      <input
        id="name"
        v-model="form.name"
        type="text"
        name="text"
        placeholder="Name"
        class="form-control"
        :class="{'is-invalid': $v.form.name.$error}"
      >
      <div v-if="$v.form.name.$error" class="invalid-feedback">
        Field name must be includes more than 2 symbols
      </div>
    </div>
    <div class="form-group">
      <label class="form-control-label text-muted">Email</label>
      <input
        id="email"
        v-model="form.email"
        type="text"
        name="email"
        placeholder="Email"
        class="form-control"
        :class="{'is-invalid': $v.form.email.$error}"
      >
      <div v-if="$v.form.email.$error" class="invalid-feedback">
        Please, fix your email
      </div>
    </div>
    <div class="form-group">
      <label class="form-control-label text-muted">Password</label>
      <input
        id="psw"
        v-model="form.password"
        type="password"
        name="psw"
        placeholder="Password"
        class="form-control"
        :class="{'is-invalid': $v.form.password.$error}"
      >
      <div v-if="$v.form.password.$error" class="invalid-feedback">
        Password need to be more than 4 symbols
      </div>
    </div>
    <div class="row justify-content-center my-3 px-3">
      <button class="btn-block btn-color" @click.prevent="onSubmit">
        Register
      </button>
    </div>
  </form>
</template>

<script lang="ts">
import { validationMixin } from 'vuelidate'
import { required, minLength } from 'vuelidate/lib/validators'
import Vue from 'vue'

export default Vue.extend({
  name: 'RegisterForm',
  mixins: [validationMixin],
  validations: {
    form: {
      name: {
        required,
        minLength: minLength(2)
      },
      email: {
        required
      },
      password: {
        required,
        minLength: minLength(4)
      }
    }
  },
  data () {
    const name : string = ''
    const email : string = ''
    const password : string = ''
    return {
      form: {
        name,
        email,
        password
      }
    }
  },
  methods: {
    async onSubmit () {
      this.$v.$touch()

      if (this.$v.$invalid) {
        this.$toast.error('Please, fix your errors before submit the form')
      } else {
        try {
          const response = await this.$axios.post('/register', this.form)

          console.log(response)
        } catch (e) {
          console.log(e)
        }
      }
    }
  }
})
</script>

<style scoped>

</style>
