<template>
  <nav aria-label="navigation" class="d-flex justify-content-end">
    <ul class="pagination">
      <li class="page-item">
        <a
          class="page-link"
          :class="{'clickable': canClickOnPrev}"
          @click.prevent="onPrevPageClick"
        >Previous</a>
      </li>
      <li class="page-item">
        <a
          class="page-link"
          :class="{'clickable': canClickOnNext}"
          @click.prevent="onNextPageClick"
        >Next</a>
      </li>
    </ul>
  </nav>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'Pagination',
  props: {
    perPage: {
      type: Number,
      required: true
    },
    page: {
      type: Number,
      required: true
    },
    total: {
      type: Number,
      required: false,
      default: null
    }
  },
  computed: {
    canClickOnNext () : boolean {
      return this.total === null || (this.page * this.perPage) < this.total
    },
    canClickOnPrev (): boolean {
      return this.page > 1
    }
  },
  methods: {
    onNextPageClick (): void {
      if (!this.canClickOnNext) {
        return
      }
      this.$emit('next')
    },
    onPrevPageClick () : void {
      if (!this.canClickOnPrev) {
        return
      }
      this.$emit('prev')
    }
  }
})
</script>
