body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-image: linear-gradient(to right, #D500F9, #FFD54F);
  background-repeat: no-repeat
}

input,
textarea {
  background-color: #F3E5F5;
  border-radius: 50px !important;
  padding: 12px 15px 12px 15px !important;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #F3E5F5 !important;
  font-size: 16px !important;
  color: #000 !important;
  font-weight: 400
}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #D500F9 !important;
  outline-width: 0;
  font-weight: 400
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}

.card {
  border-radius: 0;
  border: none
}

.card1 {
  width: 50%;
  padding: 40px 30px 10px 30px
}

.card2 {
  width: 50%;
  background-image: linear-gradient(to right, #FFD54F, #D500F9)
}

#logo {
  width: 70px;
  height: 60px
}

.heading {
  margin-bottom: 60px !important
}

::placeholder {
  color: #000 !important;
  opacity: 1
}

:-ms-input-placeholder {
  color: #000 !important
}

::-ms-input-placeholder {
  color: #000 !important
}

.form-control-label {
  font-size: 12px;
  margin-left: 15px
}

.msg-info {
  padding-left: 15px;
  margin-bottom: 30px
}

.btn-color {
  border-radius: 50px;
  color: #fff;
  background-image: linear-gradient(to right, #FFD54F, #D500F9);
  padding: 15px;
  cursor: pointer;
  border: none !important;
  margin-top: 40px
}

.btn-color:hover {
  color: #fff;
  background-image: linear-gradient(to right, #D500F9, #FFD54F)
}

.btn-white {
  border-radius: 50px;
  color: #D500F9;
  background-color: #fff;
  padding: 8px 40px;
  cursor: pointer;
  border: 2px solid #D500F9 !important
}

.btn-white:hover {
  color: #fff;
  background-image: linear-gradient(to right, #FFD54F, #D500F9)
}

a {
  color: #000
}

a:hover {
  color: #000
}

.bottom {
  width: 100%;
  margin-top: 50px !important
}

.sm-text {
  font-size: 15px
}

.vh-100-colored{
  min-height: 100vh;
  height: 100%;
}

.clickable{
  cursor: pointer;
}

.table-refreshing{
  &:after{
    content: 'Please, wait...';
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .7);
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
  }
}

@media screen and (max-width: 992px) {
  .card1 {
    width: 100%;
    padding: 40px 30px 10px 30px
  }

  .card2 {
    width: 100%
  }

  .right {
    margin-top: 100px !important;
    margin-bottom: 100px !important
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 10px !important
  }

  .card2 {
    padding: 50px
  }

  .right {
    margin-top: 50px !important;
    margin-bottom: 50px !important
  }
}

@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
