<template>
  <div class="container vh-100-colored d-flex align-items-center">
    <div class="row vw-100">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-uppercase mb-0">
              Manage Users
            </h5>
          </div>
          <div class="table-responsive" :class="{'table-refreshing': refreshing}">
            <table class="table no-wrap user-table mb-0">
              <thead>
                <tr>
                  <th scope="col" class="border-0 text-uppercase font-medium pl-4">
                    #
                  </th>
                  <th scope="col" class="border-0 text-uppercase font-medium">
                    Name
                  </th>
                  <th scope="col" class="border-0 text-uppercase font-medium">
                    Email
                  </th>
                  <th scope="col" class="border-0 text-uppercase font-medium d-flex pl-5">
                    Manage
                  </th>
                </tr>
              </thead>
              <tbody>
                <user-row
                  v-for="(user, userIdx) in users"
                  :key="`user-${user.id}`"
                  :user-prop="user"
                  :refreshing="refreshing"
                  @store="user => onUserStore(userIdx, user)"
                  @update="user => onUserUpdate(userIdx, user)"
                  @delete="() => onUserDelete(userIdx, user)"
                />
              </tbody>
              <tfoot>
                <tr>
                  <td>
                    <button class="btn btn-outline-info" @click="onAddUser">
                      Add user
                    </button>
                  </td>
                  <td colspan="3">
                    <Pagination
                      :page="page"
                      :total="totalItems"
                      :per-page="perPage"
                      @next="onNextPageLoad"
                      @prev="onPrevPageLoad"
                    />
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

import Pagination from '~/components/Pagination.vue'
import UserRow from '~/components/users/UserRow.vue'
import { User } from '~/types'
const USERS_PAGE_LIMIT = 5
const JSON_PLACEHOLDER_TOTAL_KEY = 'x-total-count'

const GET_SUCCESS_RESPONSE_STATUS_CODE = 200
const PUT_SUCCESS_RESPONSE_STATUS_CODE = 200
const DELETE_SUCCESS_RESPONSE_STATUS_CODE = 200
const POST_SUCCESS_RESPONSE_STATUS_CODE = 201

const USERS_ENDPOINT = 'https://jsonplaceholder.typicode.com/users'
const UNDEFINED_ERROR_MESSAGE = 'Something went wrong, please, try again or later'

export default Vue.extend({
  components: { UserRow, Pagination },
  middleware: 'auth',
  data () {
    const refreshing : boolean = false
    const users : User[] = []
    const page : number = 1
    const totalItems: number = 0
    const perPage : number = USERS_PAGE_LIMIT
    return {
      refreshing,
      users,
      page,
      totalItems,
      perPage
    }
  },
  async fetch (): Promise<void> {
    await this.fetchUsers()
  },
  watch: {
    async page () : Promise<void> {
      await this.fetchUsers()
    }
  },
  methods: {
    async dispatchRequest (request: () => Promise<any>, successCode : number) : Promise<any> {
      try {
        this.refreshing = true

        const response = await request()

        if (response.status !== successCode) {
          this.$toast.error(UNDEFINED_ERROR_MESSAGE)
        } else {
          return response
        }
      } catch (e) {
        this.$toast.error(UNDEFINED_ERROR_MESSAGE)
        console.log(e)
      }
    },
    async fetchUsers (): Promise<void> {
      const request = async () => {
        return await this.$axios.get(USERS_ENDPOINT, {
          params: {
            _limit: USERS_PAGE_LIMIT,
            _page: this.page
          }
        })
      }

      const response = await this.dispatchRequest(request, GET_SUCCESS_RESPONSE_STATUS_CODE)

      if (response) {
        this.totalItems = +response.headers[JSON_PLACEHOLDER_TOTAL_KEY]
        this.users = response.data
      }

      this.refreshing = false
    },

    async onUserStore (userIdx: number, user: User): Promise<void> {
      const request = async () => {
        return await this.$axios.post(USERS_ENDPOINT, user)
      }

      const response = await this.dispatchRequest(request, POST_SUCCESS_RESPONSE_STATUS_CODE)

      if (response) {
        this.$set(this.users, userIdx, response.data)
      }

      this.refreshing = false
    },
    async onUserUpdate (userIdx: number, user: User): Promise<void> {
      const request = async () => {
        return await this.$axios.put(USERS_ENDPOINT + '/' + user.id, user)
      }

      const response = await this.dispatchRequest(request, PUT_SUCCESS_RESPONSE_STATUS_CODE)

      if (response) {
        this.$set(this.users, userIdx, response.data)
      }

      this.refreshing = false
    },
    async onUserDelete (userIdx: number, user: User): Promise<void> {
      if (user.id !== null) {
        const request = async () => {
          return await this.$axios.delete(USERS_ENDPOINT + '/' + user.id)
        }

        const response = await this.dispatchRequest(request, DELETE_SUCCESS_RESPONSE_STATUS_CODE)

        if (response) {
          this.users.splice(userIdx, 1)
        }
      } else {
        this.users.splice(userIdx, 1)
      }

      this.refreshing = false
    },

    onNextPageLoad () : void {
      this.page++
    },
    onPrevPageLoad () : void {
      this.page--
    },
    onAddUser () : void {
      this.users.push({
        id: null,
        name: '',
        email: ''
      })
    }
  }
})
</script>
