<template>
  <div class="container px-4 py-5 mx-auto vh-100-colored">
    <div class="card card0">
      <div class="d-flex flex-lg-row flex-column-reverse">
        <div class="card card1">
          <div class="row justify-content-center my-auto">
            <div class="col-md-8 col-10 my-5">
              <div class="row justify-content-center px-3 mb-3">
                <NuxtLogo />
              </div>
              <template v-if="!isAuthenticated">
                <LoginForm v-if="showLoginForm" />
                <RegisterForm v-else />
              </template>
            </div>
          </div>
          <div v-if="!isAuthenticated" class="text-center">
            <p href="#" class="sm-text mx-auto mb-3">
              <template v-if="showLoginForm">
                Don't have an account?<button class="btn btn-white ml-2" @click="onToggleLoginFormVisibility">
                  Create new
                </button>
              </template>
              <template v-else>
                <button class="btn btn-white ml-2" @click="onToggleLoginFormVisibility">
                  Back to login form
                </button>
              </template>
            </p>
          </div>
          <div v-else class="row justify-content-center">
            <h3>
              bottom text-center mb-5
              <nuxt-link to="users">
                Welcome to the users control page
              </nuxt-link>
            </h3>
          </div>
        </div>
        <div class="card card2">
          <div class="my-auto mx-md-5 px-md-5 right">
            <h3 class="text-white">
              We are a the company
            </h3> <small class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'
import LoginForm from '~/components/form/LoginForm.vue'
import RegisterForm from '~/components/form/RegisterForm.vue'
import NuxtLogo from '~/components/NuxtLogo.vue'

export default Vue.extend({
  components: { NuxtLogo, RegisterForm, LoginForm },
  data () {
    return {
      showLoginForm: true
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated'])
  },
  methods: {
    onToggleLoginFormVisibility (): void {
      this.showLoginForm = !this.showLoginForm
    }
  }
})
</script>
